 @import url('https://fonts.googleapis.com/css2? family= Inter:wght@200;400;600 & family= Open+Sans:wght@400;500 & family= Oswald:wght@ 300;400;500 & display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:inter;
    border:0.5px dashed brown


}
:root{
    --bg-cast:#BB6763;
    --bg-az:#1A4E69;
}
html,body{
 width:100%;
 height:100vh;

}
li{
 list-style:none;

}
a{
 text-decoration:none;
 color:black
}

body{
display:flex;
flex-direction:column;
gap:10px;

}
