@import url('https://fonts.googleapis.com/css2? family= Inter:wght@200;400;600 & family= Open+Sans:wght@400;500 & family= Oswald:wght@ 300;400;500 & display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-transform:uppercase;
    /*border:0.5px dashed brown;*/
    /*font-family:inter;*/


}
:root{
    --bg-cast:#BB6763;
    --bg-az:#1A4E69;
    --bg-az-carregado:#045494;
}
a{
text-decoration:none;
color:var(--bg-az-carregado);

}
ul,li{
 list-style:none;

}
img{
 width:30px;
 height:30px;
}

/* HEADER*/
header{

  display:flex;
  flex-direction:row;
  gap:10px;
  justify-content:space-between;
  align-items:center;
  background:white;
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:999;
box-shadow: 0px 4px 5px 2.5px #045494;



}


/*HEADER FIGURE*/
header > figure >a{
display:flex;
flex-direction:row;
margin:10px;
gap:10px;

}
header > figure> a >img{
width:60px;
height:60px;

}
header > figure> a > h1{
font-size:30pt;
color:var(--bg-az-carregado);
font-weight:800;
text-align:center;
padding-top:10px
}


/*HEADER SECTION*/
header > section{
display:flex;
flex-direction:row;
margin-left:60px;
}
header > section>:nth-child(1){
  width:60px;
  height:60px;
  border-radius:30px;
  padding:5px;
  cursor:pointer;
}
header > ul{

display:flex;
flex-direction:row;
gap:10px;
font-size:16pt;
margin-right:10px;

}
header > ul > li{
transition:ease-in-out .3s;
border-left:2.5px solid var(--bg-az-carregado);
margin-left:10px


}
header>ul >li>a{
margin-left:10px;
transition:ease-in-out .3s;

}
#inicio-link{
border:none

}


/*MAIN*/
main{
 background:none;

}

/*SECTION INICIO*/
section#inicio{
 width:100%
 height:100vh;
}
section#inicio > img{
 width:100%;
 height:100vh;
 z-index:1

}
section#inicio > h1{
 font-size:30pt;
 width:600px;
 height:100px;
 position:absolute;
 top:150px;
 left:25%;
 text-align:center;
 color:white;
 font-weight:bold;

}
section#inicio > a{
background:var(--bg-cast);
border-radius:30px;
position:absolute;
 top:450px;
 left:35%;
 padding:10px;
 padding-top:25px;
 width:320px;
 height:80px;
 text-align:center;
 justify-self:center;
 align-self:center;
 color:white;
 font-weight:bold;
 font-size:20pt;
 transition:ease-in-out .3s;


}

/*SECTION  SOBRE*/
section#sobre{
display:flex;
flex-direction:row;
justify-content:space-between;
width:100%;
height:100vh;
margin-top:-5px;
background: rgba(217, 217, 217, 0.50);
background: color(display-p3 0.851 0.851 0.851 / 0.50);
}
section#sobre >:nth-child(1){

width:50%;
display:flex;
flex-direction:column;
justify-content:space-around;
padding:10px;

}
section#sobre >:nth-child(1) >h1{

 font-size:18pt;
 color:var(--bg-az-carregado);
 font-weight:700

}
section#sobre >:nth-child(1) >p{
margin-top:-80px;
margin-bottom:-80px;
text-align: justify;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
color:var(--bg-az-carregado);



}
section#sobre >:nth-child(1) >a{
background:var(--bg-cast);
border-radius:20px;
 padding:10px;
 padding-top:25px;
 width:320px;
 height:80px;
 text-align:center;
 justify-self:flex-start;
 align-self:flex-start;
 color:white;
 font-weight:bold;
 font-size:20pt;
 transition:ease-in-out .3s;

}

section#sobre >:nth-child(2){
 display:flex;
 flex-direction:column;
 gap:17px;
 justify-content:space-around;
 align-items:center;
 width:50%;
 padding:50px;

}
section#sobre >:nth-child(2)>a.links-sobre{
width:100%;
height:180px;
font-size:20pt;
font-weight:800;
text-align:center;
padding-top:60px;
color:white;
border-radius:15px;

}
section#sobre >:nth-child(2)>a.links-sobre:nth-child(1){
 background:#437E9E;
 text-align:center;
 padding-left:10px;
 transition:ease-in-out .5s
}
section#sobre >:nth-child(2)>a.links-sobre:nth-child(2){
 background:#1A4E69;
 transition:ease-in-out .5s
}
section#sobre >:nth-child(2)>a.links-sobre:nth-child(3){
 background:var(--bg-cast);
 text-align:center;
 padding-right:10px;
 transition:ease-in-out .5s
}

/*SECTION INFO*/
section#info{
width:100%;
height:100vh;



}
/*HOVER*/
header>ul >li>a:hover{
color:var(--bg-cast);



}
header > ul > li:hover{
border-left:2.5px solid var(--bg-cast);

}
section#inicio > a:hover{
 background:none;
 border:2.5px solid var(--bg-cast);
 color:var(--bg-cast);
 font-weight:bold;

}
section#sobre >:nth-child(2)>a.links-sobre:nth-child(1):hover{
transform: translateX(-30px);

}
section#sobre >:nth-child(2)>a.links-sobre:nth-child(2):hover{
transform: translateX(-60px);

}
section#sobre >:nth-child(2)>a.links-sobre:nth-child(3):hover{
transform: translateX(-90px);

}
section#sobre >:nth-child(1) >a:hover{
    background:none;
    border:2.5px solid var(--bg-cast);
    color:var(--bg-cast);
    font-weight:bold;
}