{% extends 'app.html'%}









{% block aluno%}
<articule id="part-um">
    <aside>
        <li ><a id="link-inicio" href="#inicio">INICIO</a></li>
        <li><a id="link-livros" href="#livros">LIVROS</a></li>
        <li><a href="#materias">MATERIAS</a></li>
        <li><a href="#trabalhos">TRABALHOS</a></li>
        <li><a href="#provas">PROVAS</a></li>
        <li><a href="#estatisticas">ESTATISTICAS</a></li>

    </aside>
    <main>
        <section id="inicio">
            <div id="livraria">
                <ul>
                    <li><a href="#">
                       Língua Portuguesa
                        <img src="/static/image/logoinsta1.png" alt="foto">
                    </a></li>
                    <li><a href="#">
                        Matemática
                    </a></li>
                    <li><a href="#">
                        Informática
                    </a></li>
                </ul>
            </div>
            <div class="inside">
                <div class="grow">conteudo</div>
                <div class="shrink">numero</div>
            </div>
            <div class="inside">
                <div class="shrink">numero</div>
                <div class="grow">conteudo</div>
            </div>
        </section>
        <section id="livros" class="livros">
             <aside id="livroaside">
                  <ul>
                      <h1>
                          DISCIPLINAS
                      </h1>
                      <ol>
                          <li><a href="#">MATEMÁTICA</a></li>
                          <li><a href="#">MATEMÁTICA</a></li>
                          <li><a href="#">MATEMÁTICA</a></li>
                          <li><a href="#">MATEMÁTICA</a></li>

                      </ol>
                       <h1>
                          EXTRA CURRICULAR
                      </h1>
                      <ol>
                          <li><a href="#">MATEMÁTICA</a></li>
                          <li><a href="#">MATEMÁTICA</a></li>
                          <li><a href="#">MATEMÁTICA</a></li>
                          <li><a href="#">MATEMÁTICA</a></li>
                      </ol>
                  </ul>
             </aside>
             <main>
                <header>
                    <div class="cabecalho">
                        <div>
                            escrever
                        </div>
                        <div>
                            preencher
                        </div>
                    </div>
                    <div class="cabecalho">
                        <div>
                            <select name="tipodefonte" id="fonte">
                            <option value="INTER">
                                INTER
                            </option>
                            <option value="OPEN SANS">
                                OPEN SANS
                            </option>
                            <option value="SANS-SERIF">
                                SANS-SERIF
                            </option>
                            </select>
                        </div>
                        <div>
                            <input id="numerodefonte" type="number" max="32" min="5">
                        </div>
                        <div>pag:01</div>
                    </div>
                    <div class="cabecalho">
                        <div>> <</div>
                        <div>preencher todo ecrã</div>
                    </div>
                </header>
                 <articule>
                     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolorem doloribus in iure
                         quia, recusandae repudiandae? Deserunt dolores est ex exercitationem fugit hic id, incidunt
                         labore obcaecati sit ullam voluptas.
                     </div>
                     <div>A facilis libero quia quod ullam. Dolor dolore fugit libero, magnam non odio placeat quas qui
                         quos, similique ut voluptatibus. Architecto at blanditiis doloribus excepturi exercitationem
                         fuga provident quis repudiandae?
                     </div>
                     <div>Culpa deleniti doloremque id laborum maxime minus possimus, quaerat rem similique tempore
                         tenetur, ullam voluptatibus voluptatum. Et ipsum, iure nostrum nulla numquam optio perferendis
                         quo repudiandae tempora voluptatem. Excepturi, nam!
                     </div>
                     <div>Aliquid aspernatur blanditiis distinctio eveniet id in maxime possimus sed similique
                         voluptatum. Accusantium, aliquam aliquid beatae dolor excepturi fuga laborum magnam nesciunt
                         nulla porro praesentium, quam quasi quisquam reiciendis sint.
                     </div>
                     <div>Amet assumenda distinctio eos fugiat, magni rerum! Adipisci aliquam asperiores aut corporis
                         dignissimos dolore doloribus ex incidunt ipsa laborum minima modi molestias nesciunt nulla
                         quaerat sint, vero voluptatum? Aperiam, neque?
                     </div>
                     <div>A, alias asperiores beatae distinctio ex explicabo facere impedit labore non, obcaecati odio
                         placeat praesentium quae quaerat qui repudiandae sint tenetur! Error facilis hic id incidunt
                         pariatur quam, quod repellat.
                     </div>
                     <div>Ab aspernatur, commodi cumque deleniti, dignissimos est et facere illum iusto laboriosam
                         molestias mollitia necessitatibus nihil nostrum nulla pariatur placeat quae quod repellendus
                         reprehenderit rerum tempore tenetur vel veritatis vero.
                     </div>
                     <div>Accusamus debitis fugit laudantium nisi vero! Blanditiis iure obcaecati sint. Accusamus amet
                         dolore explicabo impedit magnam maiores soluta totam. Doloribus est eum explicabo iste
                         repudiandae. Id laudantium magnam sed sit.
                     </div>
                     <div>Dolorum ea inventore, laudantium libero nostrum unde. Ad amet dolor ea et facilis fugit
                         laborum modi molestiae obcaecati vitae? Atque, dolorem eius illum iste libero maiores sapiente
                         sit soluta veritatis?
                     </div>
                     <div>Ad asperiores, at aut dicta eum fuga incidunt, ipsa ipsum labore laudantium libero minima
                         molestiae molestias necessitatibus officia pariatur perferendis, perspiciatis quia saepe
                         sapiente totam unde velit voluptates. Eligendi, illo.
                     </div>
                     <div>Commodi deleniti explicabo facere officia quae rerum sed veritatis? Ab autem commodi cum
                         cumque, eaque eius ex fugit laudantium, magni molestiae neque placeat possimus repellat unde,
                         vel veniam voluptate voluptatem!
                     </div>
                     <div>Dolor earum esse facere maxime modi possimus repellat voluptates. Accusamus at beatae cum
                         deserunt dicta doloribus eligendi esse fugiat laudantium maiores nisi nostrum nulla quia
                         repellat, similique, totam voluptas voluptates.
                     </div>
                     <div>Doloribus fugit hic omnis quae qui, quo veritatis voluptates. Aperiam architecto dicta eum
                         fuga ipsum nisi nulla repudiandae sint unde. Eveniet, exercitationem voluptates? Expedita
                         libero perspiciatis rerum sequi tempora unde.
                     </div>
                     <div>Ab commodi, culpa delectus deleniti dignissimos, eaque eligendi est eum explicabo facere fuga
                         harum hic ipsam iste iure minima molestiae necessitatibus nostrum officiis placeat praesentium
                         quos repudiandae sint temporibus ullam.
                     </div>
                     <div>Aliquid asperiores assumenda cupiditate doloribus, ipsa ipsam obcaecati reiciendis suscipit.
                         Commodi cum cupiditate debitis doloremque earum, et eum facilis harum hic id itaque iure
                         quibusdam repellat totam voluptas? Cum, tempora!
                     </div>
                     <div>Accusamus assumenda dolores enim eos exercitationem facere incidunt libero natus perspiciatis
                         soluta. Accusantium ad blanditiis deleniti dolorem eveniet expedita id labore laudantium magni
                         nulla repellendus reprehenderit similique, ullam velit voluptatum?
                     </div>
                     <div>Blanditiis deleniti iusto vitae. Accusantium ad adipisci beatae deserunt, dolore doloribus
                         eligendi error facere facilis impedit ipsa mollitia, quam quasi qui quidem quo repellat
                         repudiandae sequi ullam, vero. Deserunt, ut?
                     </div>
                     <div>Accusamus aliquid assumenda dolorem ea eius esse facilis iusto libero, natus omnis quibusdam
                         quo quod reiciendis ut veniam? At laudantium libero pariatur possimus quidem recusandae rem
                         sequi voluptas. Architecto, repudiandae!
                     </div>
                     <div>Accusamus adipisci amet distinctio eligendi, excepturi fuga laborum magnam modi nam, obcaecati
                         odit quas quasi repellendus sapiente tenetur, unde voluptatibus? Consequatur deserunt dolores
                         minus tenetur vero! Ad aspernatur blanditiis tenetur.
                     </div>
                     <div>Accusantium cumque distinctio eius facilis fuga illum magnam odio optio rem tenetur, vel
                         veritatis voluptate voluptates? Consectetur deserunt quam repudiandae tenetur ullam unde velit.
                         Commodi distinctio harum minus nostrum ullam!
                     </div>
                     <div>Culpa, dolorem sit. Amet consequatur cupiditate dicta dolore doloribus est et fuga id
                         laboriosam libero obcaecati, odio quidem recusandae sed suscipit. Atque eaque esse iusto optio
                         pariatur quos repellendus sed.
                     </div>
                     <div>Accusamus aspernatur blanditiis consequuntur cumque doloremque dolores eum id in, labore
                         molestiae nam natus nemo nihil non officia optio praesentium provident saepe sint sit unde vel
                         veniam vitae voluptas voluptate?
                     </div>
                     <div>Ad asperiores aspernatur at autem delectus dolorem doloremque eligendi eum eveniet excepturi
                         facere hic id impedit incidunt laborum maxime nemo nostrum odio odit officia, qui reprehenderit
                         suscipit ullam! Exercitationem, facilis!
                     </div>
                     <div>A ab accusantium ad consectetur dolor dolorum ducimus harum id, impedit ipsum labore maxime
                         modi odio optio possimus provident qui quo rem reprehenderit repudiandae sapiente temporibus
                         tenetur ut vel veniam?
                     </div>
                     <div>Ad adipisci autem beatae blanditiis culpa, cumque deserunt dolore doloremque enim, error fuga
                         id iusto molestiae nam, nesciunt officiis optio perspiciatis reiciendis reprehenderit rerum sed
                         sequi suscipit unde vero voluptatibus.
                     </div>
                     <div>A accusantium atque culpa doloremque, error excepturi fugiat fugit harum ipsum magnam modi
                         officiis placeat quae quo, recusandae repellendus ut! Accusantium eligendi eveniet maiores
                         obcaecati, perspiciatis reprehenderit sed similique vero!
                     </div>
                     <div>Accusantium beatae culpa deserunt earum fugiat laborum mollitia non odio saepe ullam. Adipisci
                         asperiores dicta eligendi exercitationem inventore itaque magni molestiae necessitatibus odit
                         perspiciatis, placeat quo quod reprehenderit saepe sint.
                     </div>
                     <div>Accusantium amet enim excepturi fugit labore natus, nisi officiis rerum totam voluptate?
                         Adipisci consequatur excepturi in labore minima nesciunt quis soluta ullam. Delectus ducimus
                         hic quam soluta vel velit veritatis.
                     </div>
                     <div>Aperiam assumenda cumque dolores eius eligendi et, hic illo in iure laboriosam molestiae nulla
                         obcaecati odio omnis quibusdam quis recusandae, reprehenderit saepe sint temporibus tenetur
                         vero voluptas voluptatibus. Delectus, rem.
                     </div>
                     <div>Dignissimos, eius enim molestias nesciunt praesentium quae quis quo repudiandae? Neque
                         provident quibusdam quo voluptate? Ex ipsum iusto laborum molestias quaerat quod, recusandae.
                         Dolorum sequi, ullam! Alias et saepe tempora.
                     </div>
                     <div>Aliquam asperiores consectetur error et excepturi itaque nemo nulla possimus quos voluptatum.
                         Consequatur dolor dolorem eos facilis harum hic impedit incidunt iure maxime officia, rerum
                         similique soluta sunt ullam voluptates.
                     </div>
                     <div>Alias assumenda at consequatur excepturi nam pariatur possimus suscipit ut, voluptatum. Amet
                         eius libero numquam. Assumenda doloremque ea earum esse, exercitationem illo in iusto magni
                         nisi non, quas suscipit ullam.
                     </div>
                     <div>Cupiditate dignissimos dolor in inventore ratione sint totam unde. Ad aperiam atque deleniti
                         eligendi facere fuga incidunt ipsum maiores nisi, numquam placeat praesentium quibusdam rem
                         repellendus saepe ullam voluptatem! Labore.
                     </div>
                     <div>A aliquam amet atque aut consectetur culpa dolor ea inventore ipsa ipsam ipsum maxime natus
                         necessitatibus, odio omnis pariatur possimus quibusdam sit soluta tempore, ullam veritatis
                         voluptatum? Qui, soluta, ut.
                     </div>
                     <div>Aspernatur consequuntur debitis delectus earum error est expedita fuga hic ipsum iste natus
                         nemo nesciunt nihil nulla, obcaecati pariatur possimus praesentium quaerat, qui quia quis quo
                         reiciendis repudiandae vitae voluptatibus?
                     </div>
                     <div>Doloremque harum inventore magni odit optio placeat quaerat quas quidem. Aliquam at,
                         consectetur consequuntur cupiditate dolorum eaque, eius, expedita id illum labore libero modi
                         quas qui quisquam repudiandae totam veniam!
                     </div>
                     <div>Iure labore nemo officia unde vero. Animi autem culpa eum, excepturi hic laudantium libero
                         nemo provident ut? Adipisci architecto cum dignissimos itaque libero magni nesciunt, omnis.
                         Adipisci et omnis optio.
                     </div>
                     <div>Amet beatae consectetur corporis cupiditate delectus deleniti dolor dolore dolorem dolorum
                         eius ex hic, illo incidunt iure nemo nulla perspiciatis quam quia quo reprehenderit rerum sed
                         sequi similique tempore velit?
                     </div>
                     <div>Aliquid blanditiis commodi delectus dolores itaque iusto modi perspiciatis ut voluptate!
                         Aliquam cumque eius, hic, ipsam iste itaque iusto nihil, non nostrum odio officiis ratione
                         recusandae sint totam unde voluptatem?
                     </div>
                     <div>Autem corporis debitis hic incidunt iusto odit optio, reiciendis rerum similique ut veniam
                         veritatis voluptatibus voluptatum. Doloremque ex fuga libero, magnam nisi quam quas quidem?
                         Aliquam et nemo pariatur ullam.
                     </div>
                     <div>Accusantium architecto deleniti earum facilis impedit molestias omnis, qui reiciendis
                         reprehenderit repudiandae? Aspernatur explicabo laboriosam magnam nam perferendis, tenetur.
                         Amet ex fugiat harum, hic ipsum laborum unde voluptatem voluptates voluptatibus?
                     </div>
                     <div>Eaque facere, laudantium perferendis quasi quis tenetur voluptatum. Consequatur eaque earum
                         eveniet facilis minus possimus quae voluptatem? Aliquid animi beatae doloremque molestias
                         possimus quas repellendus? Commodi explicabo iste laudantium modi?
                     </div>
                     <div>Accusamus, magni possimus quae reprehenderit repudiandae vitae? Ab ad alias assumenda beatae
                         consequatur cumque dolores eos fuga ipsam nesciunt, perferendis perspiciatis quidem reiciendis
                         sit, temporibus tenetur ullam vel veniam vero.
                     </div>
                     <div>Alias architecto doloremque esse et facere impedit optio quas quasi rem totam! Aut blanditiis
                         cupiditate dignissimos eius eligendi facere, impedit inventore labore magnam, possimus
                         provident quae quo repellendus sapiente, unde?
                     </div>
                     <div>Dicta ducimus ipsam minus nemo quisquam repellendus sed vel veniam! Amet animi aut consectetur
                         dolore exercitationem illum incidunt iusto libero modi nam, praesentium sint sit! At laudantium
                         maiores nihil ut!
                     </div>
                     <div>Ab, asperiores autem cum deserunt dolores ducimus eum expedita fugiat illo illum iusto modi
                         mollitia natus nesciunt non nostrum quam suscipit totam! Commodi enim facilis in, nemo quisquam
                         recusandae voluptate!
                     </div>
                     <div>Dolor ex omnis ratione totam! Architecto assumenda atque, cum cupiditate, distinctio dolorem
                         ea enim id impedit ipsam minima nam necessitatibus nemo perspiciatis quae quibusdam quod
                         ratione repellat similique vitae voluptatum?
                     </div>
                     <div>Debitis enim expedita illum maxime nemo odit pariatur sed suscipit, voluptate. Ab eveniet
                         numquam ut? Beatae ducimus reprehenderit tempora? Cumque delectus laudantium minus odit porro
                         ratione reiciendis reprehenderit sapiente sint.
                     </div>
                     <div>Accusantium, aliquam architecto dolorem enim exercitationem expedita ipsum iste laborum maxime
                         molestias nam nemo neque, nobis numquam odit officiis optio porro possimus praesentium quia
                         quos repellat saepe similique temporibus vitae.
                     </div>
                     <div>A accusamus alias at autem dolorum eaque, est illum inventore ipsam laboriosam laborum
                         molestiae molestias nam neque officia, perferendis possimus provident quasi quidem quis
                         repudiandae soluta tempora temporibus unde voluptatum.
                     </div>
                     <div>Amet architecto at autem deserunt dicta, dolorum ea eius est et eveniet in ipsa ipsum iste
                         magni, nam odit quae quam quia quibusdam quidem recusandae, temporibus unde veniam voluptatem
                         voluptatibus!
                     </div>
                     <div>Alias dolor facilis libero odio omnis, quis quo totam ullam voluptate voluptates? Aliquam,
                         architecto assumenda atque beatae debitis dolorem facere laborum, magnam mollitia
                         necessitatibus nemo nostrum quas quis reiciendis sequi?
                     </div>
                     <div>Ad beatae blanditiis commodi dicta est fugit hic illum impedit iure iusto labore, laboriosam
                         libero necessitatibus neque nesciunt nihil, non obcaecati optio possimus provident quaerat quia
                         reprehenderit rerum sed veritatis!
                     </div>
                     <div>Ab accusantium ad architecto commodi corporis dolorem et eveniet facere facilis labore
                         laboriosam, laudantium molestiae nisi nobis odit, omnis perspiciatis quae quasi quisquam
                         recusandae repudiandae rerum sunt tempore ullam voluptatibus.
                     </div>
                     <div>Ab adipisci amet animi asperiores at autem corporis cupiditate dolore dolorum ea esse,
                         expedita ipsam magnam maxime nam obcaecati porro quo ratione rem similique tenetur unde ut
                         velit. Quidem, voluptate?
                     </div>

                 </articule>
             </main>
        </section>
    </main>

</articule>
<footer id="part-dois">
    <nav>
        <li ><a href="#">FEED</a></li>
        <li id="pesquisa"><a id="es"href="#">PESQUISAR<div class="sele"></div></a></li>
        <li><a href="#">MENSAGEM <sup>2</sup></a></li>
        <li id="notificacao"><a href="#">NOTIFICAÇÃO<div class="sele"></div> <sup>8</sup></a></li>
        <div class="pesquisa">
            <div>
                <input id="search" type="search" placeholder="podes pesquisar os teus colegas, professores, directores, secretários, funcionarios ou até todos os IMAG existentes">
                <d id="remove">
                    X
                </d>
            </div>
            <ol>
                <li><a href="#">joshua graciano carvalho da costa</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>
                <li><a href="#">joshua</a></li>


            </ol>
        </div>

        <ul>
            <perfil>
                <a href="#"><img src="/static/image/logoinsta1.png" alt="foto"></a>
            </perfil>
            <salvos>
                salvos <sup>4</sup>
            </salvos>
            <a href="/logout">sair</a>
            <definicao>
                definicao
            </definicao>
        </ul>
    </nav>
    <figure>
        <h1>
            <a href="#">{{entidade.upper()}}</a>
        </h1>
    </figure>
</footer>
<div class="notificacao">

            <li>{{user}}, o teu colega <a href="/app/aluno/0/joshua" target="_blank"><i>joshua_dacosta_</i></a> postou uma <a  href="#">foto</a> nova de perfil</li>

         <r id="removen">
                    X
         </r>
        </div>
<script type="text/javascript" src="/static/javascript/appaluno.js"></script>

<script>
<!--    var inicio=document.querySelector("#inicio")-->
<!--    var iniciobtn=document.getElementById("link-inicio")-->
<!--    var livros =document.querySelector("#livros")-->
<!--    var livrosbtn=document.getElementById("link-livros")-->
<!--    var pesquisa =document.querySelector(".pesquisa")-->
<!--    var pesquisabtn=document.getElementById("pesquisa")-->
<!--    var removebtn=document.getElementById("remove")-->
<!--    var sele=document.querySelector(".sele")-->
<!--    var link=document.getElementById("es")-->
<!--    var notificacao=document.querySelector(".notificacao")-->
<!--    var notificacaonbtn=document.getElementById("notificacao")-->
<!--    var removenbtn=document.getElementById("removen")-->

<!--    iniciobtn.addEventListener("click", function(){-->
<!--        inicio.style.display="flex"-->
<!--        livros.style.display="none"-->

<!--    })-->
<!--    livrosbtn.addEventListener("click", function(){-->
<!--        inicio.style.display="none"-->
<!--        livros.style.display="flex"-->


<!--    })-->
<!--    pesquisabtn.addEventListener("click", function(){-->
<!--        pesquisa.style.display="flex"-->
<!--        sele.style.display="block"-->
<!--        link.style.color="var(&#45;&#45;bg-az)"-->
<!--        link.style.fontWeight="800"-->


<!--    })-->
<!--    removebtn.addEventListener("click", function(){-->
<!--        pesquisa.style.display="none"-->
<!--        sele.style.display="none"-->
<!--        link.style.color="black"-->
<!--        link.style.fontWeight="100"-->

<!--    })-->
<!--    notificacaonbtn.addEventListener("click", function(){-->
<!--        notificacao.style.display="flex"-->
<!--        sele.style.display="block"-->
<!--        link.style.color="var(&#45;&#45;bg-az)"-->
<!--        link.style.fontWeight="800"-->



<!--    })-->
<!--    removenbtn.addEventListener("click", function(){-->
<!--        notificacao.style.display="none"-->
<!--        sele.style.display="none"-->
<!--        link.style.color="black"-->
<!--        link.style.fontWeight="100"-->


<!--    })-->


</script>
{% endblock %}


















<!------------------------------------professor---------------------------------->
{% block professor%}
    <header class="layout" id="livros">
        <div>
            livros1
        </div>
        <div>
            livros2
        </div>
        <div>
            livros3
        </div>
    </header>
    <main class="layout" id="conteudo"></main>
    <aside class="layout" id="linkitems">

    </aside>
    <footer class="layout" id="ferramentas"></footer>
<h1>app bom dia {{entidade}}</h1>
{% endblock %}