{% extends 'app.html'%}









{% block aluno%}
<asside>
    <li><a href="#">calendário</a></li>
    <li><a href="#">matérias</a></li>
    {% if not nomecompleto in dic %}
        <li><a href="#">inscrição</a></li>
        <li><a href="#">matricula</a></li>
        <li><a href="#">confirmação</a></li>
    {% endif%}

</asside>
<main>

</main>
<script type="text/javascript" src="/static/javascript/appaluno.js"></script>
{% endblock %}


















<!------------------------------------professor---------------------------------->
{% block professor%}
    <header class="layout" id="livros">
        <div>
            livros1
        </div>
        <div>
            livros2
        </div>
        <div>
            livros3
        </div>
    </header>
    <main class="layout" id="conteudo"></main>
    <aside class="layout" id="linkitems">

    </aside>
    <footer class="layout" id="ferramentas"></footer>
<h1>app bom dia {{entidade}}</h1>
{% endblock %}