<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/mediaqueryindex.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- FAVICON-->
    <link rel = "apple-touch-icon" tamanhos = "180x180" href = "../static/image/apple-touch-icon.png">
    <link rel = "icon" type = "image/png" tamanhos = "32x32" href = "../static/image/favicon-32x32.png">
    <link rel = "icon" type = "image/png" tamanhos = "16x16" href = "../static/image/favicon-16x16.png">
    <link rel = "manifest" href = "../static/site.webmanifest">
    <title>IMAG | LOADING PAGE</title>

</head>
<body>
<header>
    <figure>
        <a href="#">
            <img src="https://s3-alpha-sig.figma.com/img/2abe/c44f/5492440c1bfd0943b233c27ff31f7c6f?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U~6cixJ9no5eSaL1sjOYpzwIn~e6w9dC7NpZ4cetJx4s~s-~BxBlqOpbE6BigGz9GdNYJwlfSvx-EOePzTFj5h4diAJTY09yNPvopTHosUuSoQuglAAgbDLkB9V4x9mhLO7ulbbt~DzIBlcYr6d1hg~CDYJEhnBgBKSUqnBPyJlwh8JcKfgVkGhxJ0yy1Yaz934JGn5yL4isZV6-hzMFt80xdWvNP3IFawHmb9KzQu3WPyFyOfdiT2rcuc~tsfEE0cVMtT6-LIYcXZFywwwQDyeyDrQ8iPeFKnanJVLC2syJVvlW52LIzzQphS-~nR5Zr74iW1MhT1Y60YCZoHkn7Q__"
                alt="logosite">
            <h1>
                IMAG
            </h1>
        </a>
    </figure>
        <section>
            <img src="https://s3-alpha-sig.figma.com/img/46b6/b0cf/2e0b03e4c9f5b460cb93dfbfc718e8b6?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Dxij7WB2f~roreakjBKfGpkelkw7uc78n83Ic7cIVm3v1ltL4HvlReRkWrFlVCO9xT3Gcw4LQSJHpiCMt8uqW~yMmhQbXsQ~epuLCd2wOPmTiEDI3tOIjL1wBH1kNCB7uB4IENCQKUtex0sEZ83QbkIrVQ-LywLofOKNhaD9JjKxcdW0VVqaaHrbPrELTxl~KD5CSJWM4bLx3CMYErVWVdqEjCwgSeHevTuygLQAnqAD7Z6hhqxejbCYIZZwWfIO~-5oLzh4v6RW5XR2eJgu73j8moqACPviVVm9NYkvrxsRs~J-icBgP6-m9q2Ify6NMpMPKVG2~WWKIwPMn1yvqA__" alt="logousuario">

        </section>
        <ul>
            <li id="inicio-link"><a href="#inicio">início</a></li>
            <li><a href="#inscricao">inscrição</a></li>
            <li><a href="#eventos">eventos</a></li>
            <li><a href="#campus">campus</a></li>
            <li><a href="#contactos">contactos</a></li>
        </ul>

</header>
<main>
    <section id="inicio">
        <img src="https://s3-alpha-sig.figma.com/img/bac8/1ac6/7acce05217afa201ac0d5948d32febdf?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XDA6Pv9PJ4WtOwnLWrpBCuCXNizeHJ196hl8p8Q3~Rrfth6hCHstxQKb1ILumoINEX6cB5jkwvM-xi1eUVmA6N7kYPaKtbXlb1MZdT38iadbn~-25YUiACiQ9JBr8QwfO5HV5mAlAjxB~~2VXMqreELyLxOlSQkKCYI0fkuvW-N-lv57ihmkN8EILHj2U0ZzGiFgpBTle4G4S2Md~BwAeop5r-LB5jqN9lizklvudtMgKOPyUpF~nob5J2Jnv2cXSSisLd9d4N83y06ZGWZeXtyKnOARh4uHA9ZDiNXhOyaNTSBXJwaKyocbNw3CrJo087AdmuPLZTQsRwF0n5fu9A__"
             alt="foto de fundo">
        <h1>instituto médio de administração e gestão</h1>
        <a href="#inscreva-se">inscreva-se</a>
    </section>
    <section id="sobre">
        <div>
            <h1>o que é imag web</h1>
            <p>
                O imag é um site de gestão escolar que visa a facilitar a comunicação entre escola, alunos e
                professores. com o imag pode controlar o número de vagas disponíveis, solicitar documentos da
                instituição de forma online, além de permitir que os professores tenham um bom controle das notas e
                desempenhos dos alunos.
            </p>
            <a href="#">saiba mais</a>
        </div>
        <div>
            <a href="#" class="links-sobre">1º incrição online</a>
            <a href="#" class="links-sobre">2º controle de vagas</a>
            <a href="#" class="links-sobre">3º documentos online</a>
        </div>
    </section>
    <section id="info">

    </section>
</main>
<script type="text/javascript" src="../static/javascript/index.js"></script>
</body>
</html>