<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/perguntas.css">
    <title>IMAG | PERGUNTAS</title>
</head>
<body>
<div id="container">
    <h1>Qual é o seu perfil?</h1>
    <ul>
        <li><a id="aluno" href="#">Aluno</a></li>
        <li><a id="professor" href="#">Professor</a></li>
        <li><a id="director" href="#">Director Geral</a></li>
        <li><a id="secretaria" href="#">Secretária</a></li>
        <li><a id="funcionariodalimpeza" href="#">Funcionário da limpeza</a></li>
        <li><a id="funcionariodaseguranca" href="#">Funcionário da segurança</a></li>
        <li><a id="coord-peda" href="#">Coordenador Pedagógico</a></li>
        <li><a id="super-peda" href="#">Supervisor Pedagógico</a></li>
        <li><a id="orien" href="#">Orientador</a></li>

    </ul>
</div>
<img id="fundo" src="../static/image/back.png" alt="foto de fundo">





<script src="../static/javascript/perguntas.js"></script>
</body>
</html>